# Git
.git
.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local virtual env
venv/
.env

# Logs
logs/
*.log

# Data (DO NOT ship data)
data/
*.bin
*.csv
*.json
*.txt

# Checkpoints (DO NOT ship model weights)
checkpoints/
*.pt
*.pth

# DVC cache (DO NOT ship)
.dvc/cache/

# Not needed
notebooks/
tests/
*.png